{% extends 'app_login/base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Ingresa a tu cuenta</h1>

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
            <strong>{{ field }}:</strong> {{ errors|join:", " }}
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" class="mx-auto" style="max-width: 400px;">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username|add_class:"form-control" }}
            {{ form.username.errors }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password|add_class:"form-control" }}
            {{ form.password.errors }}
        </div>
        <button type="submit" class="btn btn-primary w-100">LOGIN</button>
        <a href="{% url 'app_login:password_reset' %}" class="d-block mt-3 text-decoration-none">¿Olvidaste tu constraseña?</a>
    </form>  
</div>
{% endblock content %}