{% extends 'app_login/base.html' %}
{% block title %}Reset Your Password{% endblock title %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Set a New Password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1|add_class:"form-control mb-3" }}
        {{ form.new_password1.errors }}
        {{ form.new_password2.label_tag }}
        {{ form.new_password2|add_class:"form-control mb-3" }}
        {{ form.new_password2.errors }}
        <button type="submit" class="btn btn-primary w-100">Set Password</button>
    </form>
</div>
{% endblock content %}